$blue-color: rgba(18, 165, 175, 0.7);


.header {
  //width:100vw;
  //display:flex;
  // flex-direction:row;

  &__list {
    // width:5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2em;


    .chosen {
      border: 0.3em solid $blue-color;
    }

  }

  &__photos {
    display: flex;
    flex-direction: column;
     position: relative;
    //margin: .1em;
    // width:7em;

    .photo {
      width: 6em;
      margin: 0.3em;
      height: 4em;
      position: relative;
      // align-content:center;

    }

   

    .description {
      font-size: 0.7em;
      text-align: left;
      padding: 0;
    }
  }

  &__letter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
  &__letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    p {
      padding: .5em;
      margin-top:1.5em;
      color: rgba(255, 255, 255, .8);
      height: 2em; 
      width: 2em; 
      background-color: $blue-color;
      border-radius: 50%;
      text-align:center;
      font-weight:bold;
     // background: red;
    }
  }

  

  &__button {
    align-self: center;
  }
}
