$blue-color: rgba(18, 165, 175, 0.7);

.list {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0.3em;

    .chosen {
      border: 0.3em solid $blue-color;
    }
  }

  &__photos {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.2em;
    padding: 0.1em;
    width: 6.8em;

    .photo {
      width: 6.4em;
      height: 3.7em;
      position: relative;
      padding: 0.1em;
      align-self: center;
    }

    .description {
      text-align: left;
      padding: 0;
      margin: 0;

      p {
        padding: 0;
        margin: 0;
        font-size: 0.67em;
      }
    }
  }

  &__letter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
  &__letter {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding: 0.5em;
      margin-top: 1.1em;
      color: rgba(255, 255, 255, 0.8);
      height: 2em;
      width: 2em;
      background-color: $blue-color;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
    }
  }

  &__button {
    align-self: center;
  }


  &__preSelection {
    font-style: italic;
    font-weight:bold;
    margin: 2em;
  }

}
