* {
  margin: 0.3em;
  padding: 0;
  box-sizing: border-box;
}

.app {
  &__title {
    color: rgb(163, 161, 161);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgb(163, 161, 161);
    h1 {
      margin: 0.7em;
    }
  }
}
