$green-color: rgba(77, 218, 77, 0.7);
$red-color: rgba(235, 80, 80, 0.7);

.estates {
  display: flex;
  justify-content: center;

  .estate {
    border: 1px solid black;
    margin: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;

    &__image {
      width: 23em;
      height: auto;
    }

    &__name {
      margin: 0.5em 0;
    }

    &__info {
      display: flex;
      flex-direction: column;

      sup {
        font-size: 0.4em;
      }

      div {
        display: flex;
        justify-content: space-between;
        padding: 0.3em;
        align-items: center;
      }

      .items {
        &__title {
          font-weight: bold;
        }
      }
      .green {
        background-color: $green-color;
      }

      .red {
        background-color: $red-color;
      }
    }
  }

  .company {
    display: flex;
    flex-direction: row;
    margin-top: 1em;

    &__logo {
      width: 5em;
      height: auto;
    }
    &__name {
      margin-left: 1em;
      align-self: center;
    }
  }

  .identical-response {
    align-self: center;
  }
}
